body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
}

#main {
    color: #fff;
    max-width: 750px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.female {
    background: rgb(209,53,181);
    background: linear-gradient(45deg, rgba(209,53,181,1) 0%, rgba(123,15,150,1) 100%);
}

.male {
    background: rgb(53,127,209);
    background: linear-gradient(45deg, rgba(53,127,209,1) 0%, rgba(15,79,150,1) 100%);
}

#main h1, #switch, #main form input {
    text-align: center
}

#main form label, #main form button, #main form input{
    font-weight: bold;
}

#result {
    text-align: center;
    display: none;
}

#result h2{
    text-decoration: underline;
}

#result p {
    font-size: 2rem
}

#error-message {
    display: none
}

/* IDE JÖN A SWITCH CSS*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #d034b5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }